/* Ejercicio 1 */

.rojo {
    color: red;
}


/* Ejercicio 2 */

.verde {
    background-color: green;
}


/* Ejercicio 3 */

.blanco {
    color: white;
}

.celeste {
    background-color: turquoise;
}


/* Ejercicio 4 */

.verdeej4 {
    color: green;
}

.amarilloej4 {
    color: yellow;
}

.rojoej4 {
    color: red;
}


/* Ejercicio 5 y 6*/

.rojoej5 {
    color: red;
}

.verdeej5 {
    color: green;
}

.azulej5 {
    color: blue;
}


/* Ejercicio 7*/


/* a */

.antiguo {
    background-color: lightgray;
}


/* b */

.rojoej7 {
    color: red;
}


/* b */

.transparencia {
    opacity: 0.5;
}


/* Ejercicio 8*/

.azulej8 {
    color: blue;
}